.chord(class="root_#{chord.root_note}")
  .voicings
    %h5 Voicings
    %ul.voice-list
      - chord.voicings.each_with_index do |v,i|
        %li= link_to i+1, chord_voicing_path(chord.root_note, chord.chord_name,v.id), remote: true, class: "voicing-button #{chord.chord_name} #{"active" if i == 0}"
  .voicing(class="#{chord.root_note}_#{chord.chord_name}")= render 'shared/chord/voicing', voicing: chord.default_voicing

